<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BNT</title>
    <link rel="stylesheet" href="/static/Screen_Server/CSS/main_screen.css">
</head>
<body>
    <div id="main-container">
        <div id="top-container" class="container"></div>
        <div id="middle-container"></div>
        <div id="progress-bar-container">
            <div id="progress-bar"></div>
        </div>
        <div id="bottom-container" class="container"></div>
        <div id="trigger">Click to Slide</div>
    </div>

    <script src="/static/Screen_Server/js/screen_animation.js"></script>
</body>
</html>