{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ожидание данных...</title>
</head>
<body>
    <form method="POST">{% csrf_token %}</form>
    <h1>Ожидание подключения...</h1>
</body>
<script>
    async function checkModuleState() {
        while (true) {
            let response = await fetch('/get_module_state/');
            let data = await response.json();
            if (data.module_state === 'moscow') {
                window.location.href = '/moscowBNT/';
                break;
            }
            await new Promise(resolve => setTimeout(resolve, 1000)); // Ждем 1 секунду
        }
    }
    checkModuleState();
</script>
</html>