<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Москва BNT</h1>
    <p id="data-display">Ожидание данных...</p>
    <p id="data-display">
        {% if data %}
            Данные: {{ data|json_script:"parsedData" }}
        {% else %}
            Ожидание данных...
        {% endif %}
    </p>
     <script>
        const data = JSON.parse(document.getElementById("parsedData").textContent);
        console.log(data);
        document.getElementById("data-display").innerText = "Данные: " + JSON.stringify(data);
    </script>
    <script>
        const socket = new WebSocket("ws://127.0.0.1:8000/ws/moscow_module/");
        console.log('Established connect', socket);

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            document.getElementById("data-display").innerText = "Данные: " + JSON.stringify(data);
        };
    </script>
</body>
</html>